.footer-container{
	height: rem(375px);
	background-image: url(/imgs/footer_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}
.sub-footer{
	height: rem(50px);
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.social{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 3px;
	background-color: $li-blue;
	color: #fff;
	float: right;
	padding: 15px 0 0 15px; 
}
.copy{
	width: 50%;
	float: left;
	margin-top: .5rem;
}